{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier",
    "@typescript-eslint",
    "react-hooks"
  ],
  "rules": {
    "semi": [2, "always"],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react-hooks/rules-of-hooks": "off",
    "react/prop-types": "off",
    "no-console": "off",
    "react/jsx-no-bind": "off",
    "import/extensions": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "react/function-component-definition": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "react-hooks/exhaustive-deps": [
      "warn", {
        "additionalHooks": "useRecoilCallback"
      }
    ]
  }
}
